<div class="left" {{action "returnToIndex"}}>
    <div class="logo">
        <img src="assets/logo.png" alt="esco logo" title="Home">
    </div>
    <div class="title" title="Home">
        <h2>ESCO v1 prerelease</h2>
    </div>
</div>

<div class="right">
    <ul class="main-nav">
        <!-- temp not used #ndj
        <li class="learn"><a href="#">Learn</a></li>
        <li class="browse selected"><a href="#">Browse</a></li>
        <li class="implement"><a href="#">Implement</a></li>
        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
        <li class="mail"><a href="#"><i class="fa fa-envelope-o"></i></a></li>
        <li class="language">
            <a href="#">EN</a>
            <ul class="open">
                <li><a href="#">Nederlands</a></li>
                <li class="selected"><a href="#">English</a></li>
                <li><a href="#">Français</a></li>
                <li><a href="#">Deutsch</a></li>
            </ul>
        </li>
        -->

        <li>
            {{language-selector}}
        </li>
    </ul>
</div>
