<div class="right tutorial">
    <h2>ESCO v1 prerelease</h2>
    <div class="section">
        <p>ESCO is the multilingual classification of European Skills, Competences, Qualifications, and Occupations. It identifies and categorises occupations, skills, competences and qualifications relevant for the EU market, education and training in 24 European languages.  The release of the initial version of ESCO is scheduled for end of 2016.</p>
        <p>This website provides temporary access to the ESCO v1 final draft. This will allow Member States representatives and stakeholders that are members of the ESCO management structures to assess ESCO before the final release.</p>
        <p>For any questions or comments please contact the <a href="mailto:empl-esco-secretariat@ec.europa.eu" title="Mail to ESCO Secretariat">ESCO Secretariat</a>.</p>
    </div>
    <div class="section">
        <p>Background information:</p>
        <p><a href=" https://ec.europa.eu/esco/resources/escopedia/20150710_114659/b313c65a-ac55-4ccb-a381-aaab4f4b987809_ESCO_Strategic_Framework.pdf" target="_blank" title="ESCO Strategic Framework"><i class="fa fa-file-pdf-o"></i> ESCO Strategic Framework</a></p>
        <p><a href="/assets/ESCO_v1_prerelease_occupations_20170208.xlsx" title="Download a pre-release version of the ESCO occupations"><i class="fa fa-file-excel-o"></i>ESCO v1 prerelease occupations (in Excel format)</a></p>
        <!-- <p><a href="" target="_blank" title="How ESCO was developed"><i class="fa fa-file-pdf-o"></i> How ESCO was developed</a></p> -->
        <p><a href="http://ec.europa.eu/social/main.jsp?catId=1042" target="_blank" title="ESCO on the website of DG Employment, Social Affairs and Inclusion"><i class="fa fa-link"></i> ESCO on the website of DG Employment, Social Affairs and Inclusion</a></p>
        <p><a href="http://ec.europa.eu/esco" target="_blank" title="ESCO portal with the ESCO v0 demo release"><i class="fa fa-link"></i> ESCO portal with the ESCO v0 demo release</a></p>
    </div>
</div>
