{{object-display model=objectModel object=model loadingClass="fa-circle-o-notch"}}
<div class="sidebar">
  <ul>
    <!--<li class="clean-doc"></li>
    <li class="doc"></li>
    <li class="fullscreen"></li>-->
    <li class="export-pdf" {{action "click"}} title="Download as pdf"></li>
    <!--<li class="print"></li>
    <li class="mail"></li>-->
  </ul>
</div>
