$lightgray: 	#D3D3D3;
$gray:			#A4A4A4;
$darkgray:		#808080;
$blue: 			#0492D0;
$brown:			#BDA355;

@font-face {
	font-family: 'esco';
	src:url('fonts/esco.eot?8b80t1');
	src:url('fonts/esco.eot?8b80t1#iefix') format('embedded-opentype'),
		url('fonts/esco.ttf?8b80t1') format('truetype'),
		url('fonts/esco.woff?8b80t1') format('woff'),
		url('fonts/esco.svg?8b80t1#pmx') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

*:before, *:after {
	font-family: 'FontAwesome';
	font-style: normal;
}

body {
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2F2F2;
	font-size: 16px;
}

img {
	border: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}

ul, ol {
	list-style: none;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

input, textarea, button, select {
	outline: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

input, textarea {
	@include placeholder {
		font-weight: 300;
		font-style: italic;
	}
}

input {
	border: 0;
    padding: 10px;
    font-size: 16px;
	@include box-shadow(inset 0 0 0 1000px #FFF);
	@include border-radius(5px);

	&:-webkit-autofill {
	    -webkit-box-shadow: inset 0 0 0 1000px #FFF;
	}
}

button {
	border: 0;
    background: none;
    cursor: pointer;
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;

	&:-ms-expand {
	    display: none;
	}
}

textarea {
	border: 0;
    padding: 10px;
    width: 100%;
	height: 100%;

	font-size: 16px;
	@include border-radius(5px);
}

.ember-power-select-dropdown.ember-basic-dropdown--above,
.ember-power-select-dropdown.ember-basic-dropdown--below,
.ember-basic-dropdown--in-place .ember-power-select-dropdown {
	margin-top: 6px;
}

/* Default classes */

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.btn {
	background-color: $blue;
	color: #FFF;
	padding: 7px 20px 8px;
	display: inline-block;
	font-weight: 500;
	cursor: pointer;
	font-size: 16px;
	@include border-radius(3px);
}

.ember-power-select-dropdown {
	border-right: 1px solid #EEE;
	border-left: 1px solid #EEE;
	@include box-shadow(0 0 25px -5px #999);
}

.ember-power-select-trigger {
	padding: 0 36px 0 8px;
	cursor: pointer;
	border: 1px solid #DDD;
	min-height: 30px;
	outline: none;
	@include ellipsis;

	&:focus {
		border: 1px solid #DDD;
	}
}

.ember-basic-dropdown-trigger[aria-expanded="true"] {
	.ember-power-select-status-icon {
		@include transform(none);

		&:after {
			content: "\f106";
		}
	}
}

.ember-power-select-status-icon {
	border: none;
	margin: 0;
    position: static;

	&:after {
	    content: "\f107";
	    position: absolute;
	    top: 0;
	    right: 0;
	    color: $blue;
	    margin: 2px 5px 0 0;
	    padding: 0 5px 0 0;
	    z-index: 0;
	    font-size: 28px;
	}
}

.ember-power-select-dropdown.ember-basic-dropdown--above,
.ember-power-select-dropdown.ember-basic-dropdown--below,
.ember-basic-dropdown--in-place .ember-power-select-dropdown {
	border: none;
	min-width: 130px !important;
}

.ember-power-select-search {
	input {
		padding: 5px;
		outline: none;
		border: 1px solid #DDD;
		font-size: 14px;
		@include border-radius(3px);
	}
}

.ember-power-select-option {
	padding: 5px 8px;

	&.ember-power-select-option--no-matches-message {
		color: $darkgray;
		font-style: italic;
		font-size: 14px;
	}
}

.input-box,
.textarea-box {
    position: relative;
    display: inline-block;

    i {
    	position: absolute;
	    top: 0;
	    right: 0;
	    margin: 5px 5px 0 0;
	    padding: 6px;
	    color: #CCC;
	    cursor: pointer;

		&:hover {
			color: $blue;
		}
    }
}

.textarea-box {
	display: block;
}

.fa-circle-o-notch {
	color: $gray;
}
