<div class="left">
  <div title= {{selectTaxonomyTitle}} class="taxonomy-selector">
    {{#power-select options=model selected=selectedTaxonomy disabled=disableTaxonomyChange onchange=(action "selectTaxonomy") as |taxonomy|}}
      {{taxonomy.label}}
    {{/power-select}}
  </div>
  {{outlet 'left'}}
</div>
<div class="right">
  {{outlet 'right'}}
</div>